# Directory
.vs/
bin/
bin-int/
HazelX/vendor/

# vendor
vendor/bin/premake/premake5.exe

# HazelX-GLFW 3.4
HazelX/Vendor/GLFW/*
!HazelX/Vendor/GLFW/premake5.lua
HazelX/Vendor/GLFW/bin/
HazelX/Vendor/GLFW/bin-int/

# Visual Studio
*.user