# Directory
.vs/
bin/
bin-int/

HazelX/vendor/*/*/
!HazelX/vendor/*/include/
!HazelX/vendor/*/lib/
!HazelX/vendor/*/src/
!HazelX/vendor/*/premake5.lua
!HazelX/vendor/*/*.h
!HazelX/vendor/*/*.cpp
!HazelX/vendor/*/*.txt
!HazelX/vendor/glm/glm/
!HazelX/vendor/imgui/backends/
!HazelX/vendor/*/include/
!HazelX/vendor/*/src/

# vendor
# vendor/bin/premake/premake5.exe

# Visual Studio
*.user

# Sandbox
**/imgui.ini
