# Directory
.vs/
bin/
bin-int/
docs/


Engine/vendor/*/*/
!Engine/vendor/*/include/
!Engine/vendor/*/lib/
!Engine/vendor/*/src/
!Engine/vendor/*/premake5.lua
!Engine/vendor/*/*.h
!Engine/vendor/*/*.cpp
!Engine/vendor/*/*.txt
!Engine/vendor/glm/glm/
!Engine/vendor/imgui/backends/
!Engine/vendor/*/include/
!Engine/vendor/*/src/

# vendor
# vendor/bin/premake/premake5.exe

# Visual Studio
*.user
*.sln
*.vcxproj*

.claude/
.vscode/

# Sandbox
**/imgui.ini

